/*#region Effects */
.stacked-paper {
  width: auto;
  margin: 5px 10px 30px 10px;
  padding: 10px 10px 15px 10px;
  background: #eee;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), /* The top layer shadow */
 0 7px 0 -5px #eeeeee, /* The second layer */
 0 8px 4px -4px rgba(0, 0, 0, 0.15), /* The second layer shadow */
 0 8px 8px -5px #eeeeee, /* The third layer */
 0 10px -6px -9px rgba(0, 0, 0, 0.15);
  /* The third layer shadow */

  background: #eeeeee;
  /* Old browsers */

  background: -moz-linear-gradient(top, #eeeeee 0%, #ffffff 20%, #ffffff 80%, #eeeeee 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(20%, #ffffff), color-stop(80%, #ffffff), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #eeeeee 0%, #ffffff 20%, #ffffff 80%, #eeeeee 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #eeeeee 0%, #ffffff 20%, #ffffff 80%, #eeeeee 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #eeeeee 0%, #ffffff 20%, #ffffff 80%, #eeeeee 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 20%, #ffffff 80%, #eeeeee 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#eeeeee', GradientType=0);
  /* IE6-9 */

}
.shadow {
  -webkit-box-shadow: inset 0 15px 15px -20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 15px 15px -20px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 15px 15px -20px rgba(0, 0, 0, 0.5);
  -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #000000 20%, #000000 80%, rgba(0, 0, 0, 0) 100%);
  -moz-mask-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), #000000 20%, #000000 80%, rgba(0, 0, 0, 0) 100%);
  height: 20px;
  width: auto;
  position: relative;
  content: '';
  bottom: -10px;
  left: 0;
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin: 0 10px;
}
/* Level Stars */
.star {
  color: #999;
  padding: 0 3px 0 3px;
}
.star.awarded {
  color: #F8B508;
}
/*#endregion */.settings-icon {
  right: 10px;
  width: 30px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 30px 20px;
  position: absolute;
  top: 10px;
}
#wrap {
  width: 100%;
  overflow-x: hidden;
}
._navSettignsTransition {
  -webkit-transition: -webkit-transform ease-in-out 0.1s;
}
#settings-content-overlay {
  -webkit-transform: translate(100%, 0);
  right: 0;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 100;
}
nav#settings {
  right: 0;
  position: fixed;
  overflow-y: auto;
  top: 0;
  width: 80%;
  height: 100%;
  display: block;
  background-color: #3a3a3a;
  z-index: 100;
  -webkit-transition: -webkit-transform ease-in-out 0.1s;
  -webkit-transform: translate(100%, 0);
}
nav#settings .settings-content .separator {
  background: #3f3f3f;
  background: -webkit-gradient(linear, left top, left bottom, from(#4a4a4a), to(#3f3f3f));
  background: -moz-linear-gradient(top, #4a4a4a 0%, #3f3f3f 100%);
  border-bottom: 1px solid #2b2b2b;
  border-top: none;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.08);
  color: #999999;
  padding: 4px 0 4px 8px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
  font-size: 12px;
  line-height: 14px;
  font-weight: bolder;
  text-transform: uppercase;
}
nav#settings .settings-content li a {
  display: block;
  text-decoration: none;
  list-style: none;
  min-height: 43px;
  line-height: 40px;
  padding: 3px 0 3px 8px;
  background-color: #3a3a3a;
  border-bottom: 1px solid #2b2b2b;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.08);
  font-size: 16px;
  font-weight: normal;
  color: #cdcdcd;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
}
nav#settings .settings-content li a img {
  width: 34px;
  vertical-align: middle;
  display: block;
  float: left;
  margin: 4px 5px 0 0;
}
div#mainContent {
  -webkit-transition: -webkit-transform ease-in-out 0.1s;
  -webkit-transform: translate(0, 0);
  width: 100%;
}
.header,
.footer {
  -webkit-transition: -webkit-transform ease-in-out 0.1s;
  -webkit-transform: translate(0, 0);
}
body.navVisible div#mainContent {
  -webkit-transform: translate(-80%, 0);
}
body.navVisible #settings-content-overlay {
  -webkit-transform: translate(-80%, 0);
}
body.navVisible .header,
body.navVisible .footer {
  -webkit-transform: translate(-80%, 0);
}
body.navVisible nav#settings {
  -webkit-transform: translate(0, 0);
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
/*----header settings----*/
.settings-icon {
  background-image: url(../../images/ui-course-menu.png);
}
#mainContent {
  margin-bottom: 60px;
  overflow: hidden;
}
.ui-popup.ui-body-c {
  background-color: #dedbc9;
  background-image: none;
}
.ui-body-a,
.ui-overlay-a {
  background-color: #000;
}
/* ICONS */
.ui-icon-loading {
  background: url(../../../shared/images/ajax-loader.gif);
}
.ui-icon,
.ui-icon-searchfield:after {
  background-image: url(../../../shared/images/icons-18-white.png);
}
/*Arabic Settings*/
.dir-rtl {
  direction: rtl;
}
/*#region Achievment Popup */
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > div {
  text-align: center;
  width: 280px;
  position: relative;
  margin: 10% auto 0 auto;
  padding-bottom: 20px;
  border-radius: 10px;
  background: #dedbca;
  border: 1px solid #000;
  box-shadow: inset 0 1px 0 #eeece2;
}
.modalDialog h1,
.modalDialog h2,
.modalDialog h3 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.modalDialog h1,
.modalDialog h3 {
  color: #b42737;
}
.modalDialog h2 {
  color: #282828;
  margin-bottom: 5px;
}
.modalDialog h1 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 5px;
}
.modalDialog h2,
.modalDialog h3 {
  font-size: 18px;
}
.modalDialog .close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.modalDialog .close:hover {
  background: #0066FF;
}
/*#endregion */
